package ${package};

#foreach ($item in $import_parent)
import $item ;
#end

import lombok.RequiredArgsConstructor;
import org.springframework.beans.BeanUtils;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageRequest;
import org.springframework.data.domain.Pageable;
import org.springframework.data.jpa.domain.Specification;
import org.springframework.http.HttpStatus;
import org.springframework.stereotype.Service;

import java.util.ArrayList;
import java.util.Date;
import java.util.List;
import java.util.stream.Collectors;

@Service
@RequiredArgsConstructor
public class ${class_name}Service {
    #set($lowercaseFirstChar = $class_name.substring(0, 1).toLowerCase())
    #set($className = $lowercaseFirstChar + $class_name.substring(1))

    private final ${class_name}Repository ${className}repository;
    private final SpecificationUtil specificationUtil;

    public BaseResponse<List<${class_name}Response>> getAll(
            List<String> filters,
            Integer pageIndex,
            Integer pageSize
    ) {
    Page<${class_name}Entity> pageResult = null;
    Pageable pageable = PageRequest.of(pageIndex - 1, pageSize);
    if (filters != null && !filters.isEmpty()) {
        Specification<${class_name}Entity> spec = specificationUtil.buildSpecification(filters);
        pageResult = ${className}repository.findAll(spec, pageable);
    } else {
        pageResult = ${className}repository.findAll(pageable);
    }
    List<${class_name}Response> dataList = new ArrayList<>();
    if (pageResult.getContent().isEmpty()) {
        dataList = null;
    } else {
        dataList = pageResult.getContent().stream()
            .map(${class_name}Response::new)
            .collect(Collectors.toList());
    }
    var data = BaseResponse.<List<${class_name}Response>>builder()
                        .timestamp(new Date())
                        .data(dataList)
                        .statusCode(HttpStatus.OK.value())
                        .message("Get Successs")
                        .pageNo(pageIndex)
                        .pageRecords(pageResult.getSize())
                        .ttlPages(pageResult.getTotalPages())
                        .ttlRecords((int) pageResult.getTotalElements())
                        .build();
        return data;
    }

    public BaseResponse<${class_name}Response> getById(
    #foreach ($param in $list_param)
        $param
    #end
    ) {
        #if($list_param_value.size() > 1)
        ${class_name}Id entityId = new ${class_name}Id(#foreach ($param in $list_param_value) $param #end);
        ${class_name}Entity entity = this.${className}repository.findById(entityId).orElse(null);
        #else
        ${class_name}Entity entity = this.${className}repository.findById(#foreach ($param in $list_param_value) $param #end).orElse(null);
        #end
        if (entity == null) {
            throw new CommonApiException("Id Not Found", HttpStatus.BAD_REQUEST);
        }
        var data = BaseResponse.<${class_name}Response>builder()
                .timestamp(new Date())
                .data(new ${class_name}Response(entity))
                .statusCode(HttpStatus.OK.value())
                .message("Get Successs")
                .build();
        return data;
    }

    public BaseResponse<${class_name}Response> save(${class_name}Request request) {
        ${class_name}Entity entity = new ${class_name}Entity(request);
        try {
            this.${className}repository.saveAndFlush(entity);
            var data = BaseResponse.<${class_name}Response>builder()
                    .timestamp(new Date())
                    .data(new ${class_name}Response(entity))
                    .statusCode(HttpStatus.OK.value())
                    .message("Get Successs")
                    .build();
            return data;
        } catch (Exception e) {
            throw new CommonApiException("Failed save to database", HttpStatus.INTERNAL_SERVER_ERROR);
        }
    }

    public BaseResponse<${class_name}Response> update(
        ${class_name}Request request,
        #foreach ($param in $list_param)
            $param
        #end
        ) {
        #if($list_param_value.size() > 1)
        ${class_name}Id entityId = new ${class_name}Id(#foreach ($param in $list_param_value) $param #end);
        ${class_name}Entity entity = this.${className}repository.findById(entityId).orElse(null);
        #else
        ${class_name}Entity entity = this.${className}repository.findById(#foreach ($param in $list_param_value) $param #end).orElse(null);
        #end
        if (entity == null) {
            throw new CommonApiException("Id Not Found", HttpStatus.BAD_REQUEST);
        }
        // update data
        BeanUtils.copyProperties(request, entity);
        // save ke database
        try {
            this.${className}repository.saveAndFlush(entity);
            var data = BaseResponse.<${class_name}Response>builder()
                    .timestamp(new Date())
                    .data(new ${class_name}Response(entity))
                    .statusCode(HttpStatus.OK.value())
                    .message("Updated Success")
                    .build();
            return data;
        } catch (Exception e) {
            throw new CommonApiException("Failed update to database", HttpStatus.INTERNAL_SERVER_ERROR);
        }
    }

}
